{% extends "base.html" %}

{% block content %}
  <div class="page-content">
    <h2>Login</h2>
    <form method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in error %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </p>
      <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
      <input type="submit" class="button">  
    </form>
  </div>
{% endblock %}