.sidebar {
  display: flex;
  background-color: #ced8f8;// Adjust based on header height
  left: 0;
  bottom: 18px;
  padding: 0;
  margin: 0;
  z-index: 5;
  width: fit-content; 
  border-radius: 4px;
}

.sidebar menu {
  list-style: none;
  padding: 1px;
  margin-top: 10px;
}

.sidebar menu li {
  margin-bottom: 1px;
  padding: 1px;
}

.sidebar menu a {
  display: block;
  padding: 5px 5px;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sidebar menu a:hover {
  background-color: #a6bafa;
}